<div class="row no-gutters" id="shoppingCart">
    <div class="col-12 col-lg-2 max-height cart-search-box">
        <search-product on-search="$ctrl.updateProducts(products)" on-clear="$ctrl.getProduct()"></search-product>
    </div>
    <div class="col-12 col-lg-5 product-list">
        <div ng-repeat="(index, product) in $ctrl.products track by $index" class="product" id="product">
            <div class="row no-gutters max-height">
                <div class="col-lg-4">
                    <img ng-src="{{$ctrl.url + product.img}}">
                </div>
                <div class="col-lg-8">
                    <p class="p-name">{{product.name}}</p>
                    <p class="p-price">RM&nbsp;{{ product.price | number: 2}}</p>
                    <p class="p-sold-out"  ng-if="product.qty == 0">OUT OF STOCK</p>
                    <p class="p-qty" ng-else>{{product.qty}}&nbsp;<i>in stock</i>	</p>


                    <div class="btn-position" ng-if="product.qty != 0">
                        <button ng-click="$ctrl.addToCart(index)" class="btn-green btn-size-form"><i class="fas fa-cart-plus"></i><span class="atc">&nbsp;Add To Cart</span></button>
                        <button class="btn-blue btn-size-form" ng-click="$ctrl.showAbout(product)">About</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-12 col-lg-5 max-height">
        <div class="cart-list">
            <div ng-repeat="(index, cart) in $ctrl.cartList track by $index" class="cart" id="cart" >
                <p class="c-name">{{cart.name}}</p>
                <img ng-src="{{$ctrl.url + cart.img}}" style="width:150px;height:100px">
                <p>RM&nbsp;{{ cart.price | number: 2}}</p>
                <p>Qty: {{cart.qty}}</p>
                <button ng-click="$ctrl.removeFromCart(index)" class="btn-red"><i class="fas fa-minus"></i></button>

            </div>
        </div>

        <div class="order-box">
            <p class="float-lg-left total-price">Total: RM {{$ctrl.totalPrice | number: 2}}</p>
            <button class="float-lg-right btn-yellow btn-size-form" ng-click="$ctrl.placeOrder()">Place Order</button>
        </div>
    </div>

    <custom-overlay is-show="$ctrl.isShow.about" overlay-type="'hori-overlay'">
        <about-product data="$ctrl.product" on-close="$parent.$ctrl.closeOverlay()"></about-product>
    </custom-overlay>

    <custom-overlay is-show="$ctrl.isShow.placeOrder" overlay-type="'hori-overlay'">
        <place-order data="$ctrl.order" on-close="$parent.$ctrl.closeOverlay()"></place-order>
    </custom-overlay>
</div>

